global:
  scrape_interval:     15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

rule_files:
  - "/rule_files/*.yml"

scrape_configs:
  - job_name: node_exporter
    static_configs:
      - targets:
          - 27.254.137.226:9100
